@using GPManagementSytem.Models
@model GPManagementSytem.Models.SignupDates
@{
    /**/




    ViewBag.Title = "Add Signup Date";
}

<h1>@ViewBag.Title</h1>
<hr class="main">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @*<h4>Year 2</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk1From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk1From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk1From" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk1To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk1To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk1To" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk2From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk2From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk2From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk2To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk2To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk2To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk3From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk3From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk3From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk3To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk3To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk3To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk4From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk4From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk4From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk4To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk4To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk4To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk5From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk5From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk5From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk5To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk5To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk5To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk6From)</span>
                    @Html.TextBoxFor(model => model.Year2Wk6From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk6From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year2Wk6To)</span>
                    @Html.TextBoxFor(model => model.Year2Wk6To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year2Wk6To" })

                </div>
            </div>
        </div>
    </div>
    <hr />*@
    <h4>Year 3</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B1From)</span>
                    @Html.TextBoxFor(model => model.Year3B1From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B1From" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B1To)</span>
                    @Html.TextBoxFor(model => model.Year3B1To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B1To" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B2From)</span>
                    @Html.TextBoxFor(model => model.Year3B2From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B2From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B2To)</span>
                    @Html.TextBoxFor(model => model.Year3B2To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B2To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B3From)</span>
                    @Html.TextBoxFor(model => model.Year3B3From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B3From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B3To)</span>
                    @Html.TextBoxFor(model => model.Year3B3To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B3To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B4From)</span>
                    @Html.TextBoxFor(model => model.Year3B4From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B4From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B4To)</span>
                    @Html.TextBoxFor(model => model.Year3B4To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B4To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B5From)</span>
                    @Html.TextBoxFor(model => model.Year3B5From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B5From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B5To)</span>
                    @Html.TextBoxFor(model => model.Year3B5To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B5To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B6From)</span>
                    @Html.TextBoxFor(model => model.Year3B6From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B6From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B6To)</span>
                    @Html.TextBoxFor(model => model.Year3B6To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B6To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B7From)</span>
                    @Html.TextBoxFor(model => model.Year3B7From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B7From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year3B7To)</span>
                    @Html.TextBoxFor(model => model.Year3B7To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B7To" })

                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Year 4</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B1From)</span>
                    @Html.TextBoxFor(model => model.Year4B1From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B1From" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B1To)</span>
                    @Html.TextBoxFor(model => model.Year4B1To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B1To" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B2From)</span>
                    @Html.TextBoxFor(model => model.Year4B2From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B2From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B2To)</span>
                    @Html.TextBoxFor(model => model.Year4B2To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B2To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B3From)</span>
                    @Html.TextBoxFor(model => model.Year4B3From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B3From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B3To)</span>
                    @Html.TextBoxFor(model => model.Year4B3To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B3To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B4From)</span>
                    @Html.TextBoxFor(model => model.Year4B4From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B4From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B4To)</span>
                    @Html.TextBoxFor(model => model.Year4B4To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B4To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B5From)</span>
                    @Html.TextBoxFor(model => model.Year4B5From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B5From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B5To)</span>
                    @Html.TextBoxFor(model => model.Year4B5To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B5To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B6From)</span>
                    @Html.TextBoxFor(model => model.Year4B6From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B6From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B6To)</span>
                    @Html.TextBoxFor(model => model.Year4B6To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B6To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B7From)</span>
                    @Html.TextBoxFor(model => model.Year4B7From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B7From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B7To)</span>
                    @Html.TextBoxFor(model => model.Year4B7To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B7To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B8From)</span>
                    @Html.TextBoxFor(model => model.Year4B8From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year4B8From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year4B8To)</span>
                    @Html.TextBoxFor(model => model.Year4B8To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year3B8To" })

                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Year 5</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B1From)</span>
                    @Html.TextBoxFor(model => model.Year5B1From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B1From" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B1To)</span>
                    @Html.TextBoxFor(model => model.Year5B1To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B1To" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B2From)</span>
                    @Html.TextBoxFor(model => model.Year5B2From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B2From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B2To)</span>
                    @Html.TextBoxFor(model => model.Year5B2To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B2To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B3From)</span>
                    @Html.TextBoxFor(model => model.Year5B3From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B3From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B3To)</span>
                    @Html.TextBoxFor(model => model.Year5B3To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B3To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B4From)</span>
                    @Html.TextBoxFor(model => model.Year5B4From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B4From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B4To)</span>
                    @Html.TextBoxFor(model => model.Year5B4To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B4To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B5From)</span>
                    @Html.TextBoxFor(model => model.Year5B5From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B5From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B5To)</span>
                    @Html.TextBoxFor(model => model.Year5B5To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B5To" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B6From)</span>
                    @Html.TextBoxFor(model => model.Year5B6From, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B6From" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text smallLabel">@Html.LabelFor(model => model.Year5B6To)</span>
                    @Html.TextBoxFor(model => model.Year5B6To, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date", id = "Year5B6To" })

                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-success" type="submit">Add</button>
            </div>
        </div>
    </div>
}

