@using GPManagementSytem.ViewModel
@model IEnumerable<GPManagementSytem.ViewModel.AllocationViewModel>
@{
    ViewBag.Title = "At A Glance (allocated)";

}

<h1>@ViewBag.Title</h1>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("At A Glance Requested", "AtAGlanceRequested", "Home", null, null)
                    | 
                    @Html.ActionLink("Download spreadsheet", "DownloadAtAGlance", "Home", null, null)
                </div>
                </div>

                <div>
                    <table class="table table-hover GlanceTable" id="ataglance">
                        <thead>
                            <tr>
                                <th>Practice Name</th>
                                <th>Postcode</th>
                                
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B1Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B2Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B3Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B4Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B5Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B6Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B7Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B1Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B2Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B3Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B4Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B5Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B6Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B7Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B1Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B2Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B3Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B4Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B5Allocated)</span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B6Allocated) </span></div>
                                </th>
                                <th class="rotated-text">
                                    <div><span class="ServiceContract">Service Contract Recd </span></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="glance">
                            @foreach (var myAllocation in Model)
                            {
                                <tr>
                                    <td>@myAllocation.Surgery</td>
                                    <td>@myAllocation.Postcode</td>

                                    <td class="numberAllocated3">@myAllocation.Year3B1Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B2Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B3Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B4Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B5Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B6Allocated</td>
                                    <td class="numberAllocated3">@myAllocation.Year3B7Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B1Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B2Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B3Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B4Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B5Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B6Allocated</td>
                                    <td class="numberAllocated4">@myAllocation.Year4B7Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B1Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B2Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B3Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B4Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B5Allocated</td>
                                    <td class="numberAllocated5">@myAllocation.Year5B6Allocated</td>
                                    <td class="ServiceContr">
                                        @{
                                            switch (myAllocation.ServiceContractReceived)
                                            {
                                                case 0:
                                                    <i class="fa fa-remove"></i>
                                                    break;

                                                case 1:
                                                    <i class="fa fa-check"></i>
                                                    break;

                                                case 2:
                                                    <span>n/a</span>
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Practice Name</strong></td>
                                <td><strong>Postcode</strong></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
    </div>
</div>

