@using GPManagementSytem.ViewModel
@model IEnumerable<GPManagementSytem.ViewModel.AllocationViewModel>
@{
    ViewBag.Title = "At A Glance";

}

<h1>@ViewBag.Title</h1>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3"></div>
        <div class="card-body">

            <div>
                <table class="table table-hover myAllocations">
                    <thead>
                        <tr>
                            <th>Practice Name</th>
                            <th>Postcode</th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk1Allocated) </span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk2Allocated) </span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk3Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk4Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk5Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year2Wk6Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year2">@Html.LabelFor(model => Model.First().Year3B1Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B2Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B3Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B4Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B5Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B6Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year3B7Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year4B1Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year3">@Html.LabelFor(model => Model.First().Year4B2Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B3Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B4Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B5Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B6Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year4B7Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year5B1Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year5B2Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year5B3Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year4">@Html.LabelFor(model => Model.First().Year5B4Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B5Allocated)</span></div>
                            </th>
                            <th class="rotated-text">
                                <div><span class="Year5">@Html.LabelFor(model => Model.First().Year5B6Allocated) </span></div>
                            </th>
                             <th class="rotated-text">
                                <div><span class="ServiceContr">Service Contract Recd </span></div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="glance">
                        @foreach (var myAllocation in Model)
                        {
                            <tr>
                                <td>@myAllocation.Surgery</td>
                                <td>@myAllocation.Postcode</td>
                                <td>@myAllocation.Year2Wk1Allocated</td>
                                <td>@myAllocation.Year2Wk2Allocated</td>
                                <td>@myAllocation.Year2Wk3Allocated</td>
                                <td>@myAllocation.Year2Wk4Allocated</td>
                                <td>@myAllocation.Year2Wk5Allocated</td>
                                <td>@myAllocation.Year2Wk6Allocated</td>
                                <td></td>
                                <td class="Year3"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="Year4"></td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td></td>
                                <td class="Year5"></td>
                                <td></td>
                                 <td class="ServiceContr"><i class="fa fa-check"></i></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Practice Name</strong></td>
                            <td><strong>Postcode</strong></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

