@model IEnumerable<GPManagementSytem.Models.PracticesExternal>

@{
    ViewBag.Title = "Manage Practice Details Changes";


}

<h1>@ViewBag.Title</h1>
<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header py-3"></div>
        <div class="card-body">

            <div>
                <table class="table table-hover" id="simpleManage">
                    <thead>
                        <tr>
                            <th>Surgery</th>
                            <th>Address 1</th>
                            <th>Telephone</th>
                            <th>Main GP</th>
                            <th>Practice Manager</th>
                            <th style="width: 280px">Practice Manager Email</th>
                            <th style="width: 100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var myPractice in Model)
                        {
                            bool newReg = false;

                            if (myPractice.RequestedBy == 0 && myPractice.ChangesApproved == false)
                            {
                                newReg = true;
                            }

                            <tr>

                                <td>@if (newReg) {<text><i class="bi bi-flag-fill"></i></text> } @myPractice.Surgery</td>
                                <td>@myPractice.Address1</td>
                                <td>@myPractice.Telephone</td>
                                <td>@myPractice.GP1</td>
                                <td>@myPractice.PracticeManager</td>
                                <td>@myPractice.PMEmail</td>
                                <td>
                                    @if (newReg)
                                    {
                                        <button class="btn btn-link" type="button" onclick="location.href='@Url.Action("ApprovePracticeRegistration", "Home", new { id = myPractice.Id })'">approve registration</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-link" type="button" onclick="location.href='@Url.Action("ApprovePracticeChanges", "Home", new { id = myPractice.Id })'">approve changes</button>
                                    }
                                </td>
                            </tr>


                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Surgery</th>
                            <th>Address 1</th>
                            <th>Telephone</th>
                            <th>Main GP</th>
                            <th>Practice Manager</th>
                            <th>Practice Manager Email</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>


