@model IEnumerable<GPManagementSytem.Models.Practices>

@{
    ViewBag.Title = "Manage Practices";

    int getStatus = 0;

    if (Request.QueryString["practiceStatus"] != null)
    {
        getStatus = Convert.ToInt32(Request.QueryString["practiceStatus"].ToString());
    }
}

<h1>@ViewBag.Title</h1>
<div class="container">
    <div class="row managePracticeSubMenu">
        <div class="col-md-3">
            <a href="@Url.Action("ManagePractices", "Home", new { practiceStatus = 1 })" class="subMenuLink @if (getStatus == 1) { <text>active</text>} ">Show Active Only</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("ManagePractices", "Home", new { practiceStatus = 2 })" class="subMenuLink @if (getStatus == 2) { <text>active</text>} ">Show Dormant Only</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("ManagePractices", "Home", new { practiceStatus = 3 })" class="subMenuLink @if (getStatus == 3) { <text>active</text>}" >Show Archived Only</a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("DownloadPractices", "Home", new { practiceStatus = getStatus })" class="subMenuLink">Download Practices</a>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="card shadow">
        <div class="card-header py-3"></div>
        <div class="card-body">

            <div>
                <table class="table table-hover mainPractices" id="simpleManage">
                    <thead>
                        <tr>
                            <th>Surgery</th>
                            <th>Address 1</th>
                            <th>Telephone</th>
                            <th>Main GP</th>
                            <th style="width: 180px">GP Email</th>
                            <th>Practice Manager</th>
                            <th style="width: 180px">Practice Manager Email</th>
                            <th style="width: 100px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var myPractice in Model)

                        {
                            <tr>

                                <td>@myPractice.Surgery</td>
                                <td>@myPractice.Address1</td>
                                <td>@myPractice.Telephone</td>
                                <td>@myPractice.GP1</td>
                                <td>@myPractice.GP1Email</td>
                                <td>@myPractice.PracticeManager</td>
                                <td>@myPractice.PMEmail</td>
                                <td><button class="btn btn-link" type="button" onclick="location.href='@Url.Action("EditPractice", "Home", new { id = myPractice.Id })'">edit</button> | <button class="btn btn-link" type="button" onclick="location.href='@Url.Action("AddAllocation", "Home", new { id = myPractice.Id })'">allocation</button></td>
                            </tr>


                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Surgery</th>
                            <th>Address 1</th>
                            <th>Telephone</th>
                            <th>Main GP</th>
                            <th style="width: 180px">GP Email</th>
                            <th>Practice Manager</th>
                            <th>Practice Manager Email</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
