@using GPManagementSytem.Models
@model GPManagementSytem.Models.EmailTemplates
@{

    var sendTypesDD = new SelectList(ViewBag.SendTypes, "Value", "Text");

    ViewBag.Title = "Send Sign Up Email";
}

<h1>@ViewBag.Title</h1>
<hr class="main">
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EmailTypeId)
    @Html.HiddenFor(model => model.AttachmentName)
    @Html.HiddenFor(model => model.AttachmentName2)

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-text smallLabel">Send to</span>
                    @Html.DropDownListFor(model => model.SendList, sendTypesDD, new { Class = "form-select" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-text smallLabel">Subject</span>
                    @Html.EditorFor(model => model.Subject,
    new { htmlAttributes = new { @class = "form-control", type = "text" } }
    )

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-text">Email content</span>
                    @Html.TextAreaFor(model => model.Body,
new { @class = "form-control fullTextArea", @rows = 3 })
                </div>
            </div>
        </div>
    </div>
    if (Model.AttachmentName != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <a href="@Url.Content("~/Content/EmailAttachments/" + Model.AttachmentName)" target="_blank">Click to view attachment (@Model.AttachmentName)</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <input class="form-check-input" type="checkbox" value="" id="removeAttachment" name="removeAttachment">
                    <label class="form-check-label" for="removeAttachment">
                        Remove attachment
                    </label>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group custom-file-button">
                    <span class="input-group-text fileInputLabel">Attachment</span>
                    <label class="input-group-text" for="attachmentFile">Browse...</label>
                    <input type="file" class="form-control" id="attachmentFile" name="attachmentFile">
                </div>
            </div>
        </div>
    </div>
    <hr />
    if (Model.AttachmentName2 != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <a href="@Url.Content("~/Content/EmailAttachments/" + Model.AttachmentName2)" target="_blank">Click to view attachment (@Model.AttachmentName2)</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <input class="form-check-input" type="checkbox" value="" id="removeAttachment2" name="removeAttachment2">
                    <label class="form-check-label" for="removeAttachment2">
                        Remove attachment
                    </label>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group custom-file-button">
                    <span class="input-group-text fileInputLabel">Attachment</span>
                    <label class="input-group-text" for="attachmentFile2">Browse...</label>
                    <input type="file" class="form-control" id="attachmentFile2" name="attachmentFile2">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" name="Command" value="Send Preview Email">Send Preview Email</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-success" type="submit">Send</button>
            </div>
        </div>
    </div>
}

